* {margin:0;padding:0;font-size:100%;}

body {
    font: 100% arial;
}

.sense[data-state="on"]::before {
    content: "💡";
}
.sense[data-state="off"]::before {
    content: "⬛";
}
.sense[data-name*="tempera"]::after {
    content: attr(data-state);
    display:inline-block;
    padding-left: 10px;
    color:red;
}
